.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  display: flex;
  gap: 4px;
  justify-content: center;
}

.yes-btn {
  color: white;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #238f10;
  cursor: pointer;
  border: none;
}

.no-btn {
  color: white;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #ac0000;
  cursor: pointer;
  border: none;
}